@import "reset.less";

@a: #e9d88b;
@ah: #ff0062;
@bg: #3d505e;
@fg: #fcf6e5;

@a: #2c3944;
@ah: #00f;
@bg: #f5f5f5;
@fg: #2a2a2b;
@fg: #00005c;
@fg: #3d505e;

@border: 1px solid rgba(#000, 0.05);

body,
html {
  background: @bg;
  color: @fg;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

body {
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(#fff2c6, 0.5);
}

::selection {
  background: #f3ff4b;
  color: #334170;
}

.delay(@n, @i: 1) when (@i =< @n) {
  &:nth-child(@{i}) {
    animation-delay: (500ms + (@i * 100));
  }

  .delay(@n, (@i + 1));
}

.loop(@n, @i: 1) when (@i =< @n) {
  &:nth-child(@{i}) {
    // animation-delay: (100ms + (@i * 20));
    right: 2rem * @i;
  }

  .loop(@n, (@i + 1));
}

#circ {
  display: none;
  position: fixed;
  top: 0;
  right: 0;

  border: @border;
  border-radius: 100%;
  @s: 1rem;
  width: @s;
  height: @s;
  margin: 1rem;
  .loop(6);
}

@keyframes rot {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

#frame {
  // width: 100vw;
  // min-height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // box-sizing: border-box;
}

#overlay {
  display: none;
  position: absolute;
  position: fixed;
  width: calc(100% + 0rem);
  height: calc(100% + 0rem);
  background: linear-gradient(125deg, #796936, #00f);
  // background: linear-gradient(125deg, #796936, #ffce8e);
  background: linear-gradient(125deg, #ca9b00, #00f);
  background: linear-gradient(125deg, #00b2ca, #00f);
  background: linear-gradient(125deg, #ffcd61, #2f2f96);
  background: linear-gradient(125deg, #c79833, #1919a1);
  z-index: 9;
  mix-blend-mode: screen;
  pointer-events: none;

  // animation: rot 30s linear 0s infinite forwards;
}

a[href^="mailto:"] {
  padding: 0.2em;
  background: #f3ff4b;
  font-size: 14px;
  &:hover {
    background: @fg;
    color: #f3ff4b;
  }
}

#container {
  position: relative;
  // background: @bg;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
  > div {
    position: relative;
  }
  #list {
    margin: 0 auto;
    // background: rgba(@bg, 0.85);
    background: @bg;
    max-width: 100%;
    padding: 0;
    display: block;
    text-transform: none;
    line-height: 1.25em;
    order: 0;
    position: relative;
    // transform: rotate(-2.5deg);
    // border: 1px solid @fg;
    @d: 0.1rem;
    @s: 0.2rem;
    // box-shadow: @d * -1 @d @s rgba(@fg, 0.5);
    // margin-top: 2rem;
    .row {
      // border-bottom: 1px solid rgba(@fg, 0.2);
      padding: 1em 0;
      overflow: auto;
      > div {
        max-width: 800px;
        margin: 0 auto;
      }
      &.name {
      }
      &.slogan {
        font-size: 14px;
        #slogan {
          padding: 0 1rem;
          font-size: 14px;
          max-width: 16em;
          position: relative;
          line-height: 1.5em;
        }
      }
      .mail {
        font-size: 14px;
        line-height: 1.5em;
        font-style: italic;
      }
      &.list {
        text-align: right;
        padding: 2rem 1rem;
        > * {
          margin: 0 auto;
          > * {
            max-width: 100%;
            text-align: left;
          }
          ol {
            display: inline-block;
            width: 20rem;
            padding: 0;
            margin: 0 auto 4em auto;
          }
        }
      }
    }

    #name {
      font-weight: bold;
      position: relative;
      float: right;
      width: 12rem;
      max-width: 100%;
      padding: 1rem 1rem;
      // border-left: 1px solid rgba(@fg, 0.2);
      span {
        font-weight: normal;
      }

      a {
        font-size: 0.75em;
      }
    }

    // width: 28rem;
  }
  #blocks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  // transform: skewX(5deg);
  #blocks {
    background: @bg;
    background: darken(@bg, 5);
    order: 2;
    // display: grid;
    // grid-gap: 1px;
    // padding: 1px;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: repeat(4, 20%);
    // font-size: 2em;
    // opacity: 0.25;
    > div {
      text-transform: capitalize;
      position: relative;
      cursor: pointer;

      > div {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0.25rem;
        box-sizing: border-box;
        background: @bg;
        // background: linear-gradient(90deg, #fff, @bg);
        transition: transform 0.5s ease-out;
        overflow: hidden;
        // z-index: 1;
        backface-visibility: hidden;

        span {
          font-weight: 100;
        }

        // &:after {
        //   content: "";
        //   position: absolute;
        //   @s: 0.15rem;
        //   width: @s;
        //   height: @s;
        //   top: 0;
        //   right: 0;
        //   margin: 0.25rem;
        //   border: 1px solid @fg;
        //   border-radius: 100%;
        // }
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        z-index: 0;
        background: @bg;
        transition: transform 0.5s ease-out;
        transform: rotateX(180deg);
        padding: 0.25rem;
        box-sizing: border-box;
        font-size: 0.5em;
      }

      #emailinside {
        font-size: 0.7em;
        position: relative;
        padding-top: 3.25rem;
        box-sizing: border-box;
        transform: rotateX(180deg);
        text-align: right;

        &:after {
          content: "✍ ";
          text-align: left;
          position: absolute;
          top: 0;
          bottom: auto;
          left: 0;
          font-size: 1.5rem;
          padding: 0;
          border: 0;
          margin: -0em 0 0 0.2em;
        }
      }

      &.hover {
        &:before {
          transform: rotateX(0deg);
        }

        > div {
          // transform: rotateX(900deg);
          transform: rotateX(180deg);
        }

        #emailinside {
          transform: rotateX(0deg);
        }
      }

      &.noeffect > div {
        transform: none;
      }
    }
  }

  #services {
    grid-column: 3;
    grid-row: 2;
  }
  #book {
    grid-column: 2;
    grid-row: 3;
  }
  #business {
    grid-column: 1;
    grid-row: 4;
  }
  #research {
    grid-column: 3;
    grid-row: 4;
  }
  #database {
    grid-column: 2;
    grid-row: 5;
  }
  #events {
    grid-column: 1;
    grid-row: 1;
  }
  #email {
    grid-column: 1;
    grid-row: 1;
    display: none;
    &:after {
      content: "✍ ";
      position: absolute;
      bottom: 0;
      top: 0;
      font-size: 2em;
      padding: 0 0.125em;
      // margin-bottom: 2rem;
    }
    a {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0.25rem;
    }
  }
}

#footer {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding: 1 0.25em;
  font-size: 0.5rem;
  box-sizing: border-box;
  line-height: 1em;
  width: 100%;
  background: transparent !important;
  z-index: 0;
  margin-top: 4rem;
}

@keyframes fadein {
  from {
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

ol {
  list-style-type: circle;
  list-style-type: disc;
  list-style-type: none;
  list-style-position: inside;
  font-size: 0.7em;
  // margin-left: 2em;
  li {
    opacity: 0;
    padding: 0.25em 0;
    animation: fadein 0.5s linear 0s 1 forwards;
    .delay(20);
    // border-bottom: @border;

    // cursor: pointer;
    &:before {
      content: " ● ";
      margin-right: 0.15em;
    }

    &:hover {
      // background: #f3ff4b;
    }
    &:first-child {
      margin-top: 1em;
      font-style: italic;
      font-size: 14px;
      margin-bottom: 4em;
      // margin-left: 4rem;
      text-align: right;
      line-height: 1.5em;
      display: none;
      // position: absolute;
      // right: 0;
      // bottom: 0;
      // margin: 0.25rem;
      &:before {
        content: "";
      }
    }
  }
}

* {
  color: inherit;
}

label {
  display: block;
  margin-bottom: 1em;
  opacity: 0.5;
}

a {
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1em;
  color: @a;
  &:hover {
    background: #f3ff4b;
    color: @fg;
  }
}

h1,
h2,
h3 {
  // line-height: 1.5em;
  margin: 0;
}

h1 {
  font-weight: bold;
}

h2 {
  // margin-bottom: 2rem;
}

h3 {
  text-align: right;
  font-weight: normal;
  line-height: 1em;
  float: right;

  // margin-bottom: 2rem;
}

i,
em {
  font-style: italic;
}
